@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Gravitas+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c7a06f;
    color: #070404;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header{
    /*unidade de medida "rem" ela é relativa, usar ela ao invés do "pixel" porque o px é fixo*/
    padding: 2rem;
    background-color: #331f19;
    text-align: center;
    
}

main{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

#menususpenso{
    width: 35%;
}



h2{
    color: #331F19;
    font-size: 1.2rem;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: #d90602;
}
input[type="text"], input[type="password"], input[type="date"],input[type="email"] {
    width: 50%;
    padding: 0.6rem;
    border: 2px solid #CCD595;
    outline: none;
    border-radius: 100px;
}
input::placeholder{
color: rgba(105, 52, 13, 0.368);
}
select{
    cursor: pointer;
    background-color: #CCD595;
    color: #331F19;
}
option{
    width: 50%
    ;
    padding: 0.6rem;
    border: 2px solid #CCD595;
    outline: none;
    border-radius: 100px;
}

/* Comentado porque a img ta comendatada.  
image{
    width: 5rem;
    border-radius: 5px;
}
*/

table{
    width: 100%;
    border-collapse: collapse;
    background-color: #CCD595;
}

th{
    background-color: #CCD595;
    color: #331F19;
    padding: 1rem;
    
}

td{
    color: #331F19;
    padding: 1rem;
    text-align: center;
    
}

