
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f0ea;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-weight: 400;
}

header{
    /*unidade de medida "rem" ela é relativa, usar ela ao invés do "pixel" porque o px é fixo*/
    padding: 0.1rem;
    background-color: #3f6283;
    
    color: #dccf3b;
}

.caixalogin{
    
    padding-top: 0rem;
    border: 2px solid black;
    width: 30%;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 10rem;
    border-radius: 6px;
}

em{
    margin-left: 5.8rem;
    
}

data{
    margin-left: 0rem;
    font-size: small;
}

p{
   margin-left: -8.5rem;  
}

h1{
   text-align: center;
   margin-bottom: 0.3rem;
}

main{
    text-align: center;
    background-color: rgb(205, 203, 169);
}

button{
    margin-top: 5%;
    margin-bottom: 5%;
}

input[type="text"], input[type="password"] {
    width: 225px;
    
    
    
}

::placeholder{
    color: black;
}

.senha{
    margin-left: -8.9rem;
}





 