@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 1rem;
    background-color: blanchedalmond;
}

header{
    text-align: center;
    border: 2px solid black;
    padding: 1rem;
    font-size: 1rem;
    background-color: aquamarine;
    max-width: 500px;
    margin: 2rem auto;
    border-radius: 100px;
}

data{
    font-size: 1.6rem;
}

h1{
    font-style: italic;
}

main{
    text-align: center;
    border: 2px solid black;
    max-width: 500px;
    margin: 2rem auto;
    background-color: rgba(245, 0, 0, 0.659);
    border-radius: 100px;
    padding: 1rem;
}

input[type="text"], input[type="password"]{
    width: 80%;
    font-size: 1.5rem;
    border-radius: 80px;
}

input::placeholder{
    padding: 1rem;
}

button{
    margin-top: 2%;
    width: 35%;
    border-radius: 5px;
    cursor: pointer;
}

.b{
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    width: auto;
    cursor: pointer;
}

h6{
    text-align: center;
    font-style: oblique;
    margin-bottom: 1%;
}





