@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 1rem;
    background-color: blanchedalmond;
}

header{
    text-align: center;
    border: 2px solid black;
    padding: 1rem;
    font-size: 2rem;
    background-color: aquamarine;
    margin: 0 30%;
    border-radius: 100px;
}

data{
    font-size: 1.6rem;
}

h1{
    font-style: italic;
}

main{
text-align: center;
margin-top: 5rem;
border: 2px solid black;
margin: 1% 30%;
background-color: rgba(245, 0, 0, 0.659);
border-radius: 100px;
padding: 1rem;
}

input[type="text"], input[type="password"]{
    width: 80%;
    font-size: 1.5rem;
    border-radius: 80px;
}

input::placeholder{
    padding: 1rem;
}


