




header{
    /*unidade de medida "rem" ela é relativa, usar ela ao invés do "pixel" porque o px é fixo*/
   
    background-color: #331f19;
    border: 3px solid black;
    
}



body{
    margin-top:5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;   
}
h1{
    margin-left: 0%;
    color: rgb(231, 211, 211);
    padding: 1%;
    text-align: center;
    font-size: 50px;
    
}
h2{
    margin-left: 0%;
    font-size: 40px;
}

.pinicial{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

p{
    font-size: 30px;
}
.comentarios{
    margin-left:30%;  
    margin-top: 7%;
}
data{
    padding: 1%; 
    font-size: 30px;
    color: white;
    margin-top: 

}
.img{
    width: 100px;
    height: auto; /* mantém proporção */
}
.bemvindo{
    border-radius: 100px;
   text-align: center; 
   background-color: rgba(175, 213, 244, 0.988);
}
input{
   font-size: 25px;
}
label{
    font-size: 25px;
}

em{
    color: white;
    font-size: 1.5rem;
    margin-left: 19rem;
}



